#bookmark {
  margin-left: 15px;
}

.comics-list-section {
  background-color: whitesmoke;
  min-height: 200px;
}

.comics-list-header {
  padding-top: 25px;
  letter-spacing: 1px;
}

.comic-title-link {
  color: #222;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Montserrat';
  cursor: pointer;
}

.comic-title-link:hover,
.comic-title-link:focus {
  outline: none;
  text-decoration: underline;
}

.read-later-input {
  margin-left: 7px;
}
.already-read-input,
.read-later-input {
  width: 120px;
  border-radius: 4px;
  color: white;
  background-color: black;
  font-size: 18.5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.already-read-input:hover,
.already-read-input:focus,
.read-later-input:hover,
.read-later-input:focus {
  outline: none;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.comic-history {
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
  width: 300px;
  margin: 70px 0 20px 0;
}

.comic-cover-img {
  transition-duration: 1s;
}

.comic-cover-img:hover,
.comic-cover-img:focus {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.already-read-label {
  margin-right: 25px;
}

.already-read-label,
.read-later-label {
  color: black;
}

.radio-btns {
  margin-top: 25px;
}

.comics-new-link {
  font-weight: bolder;
  color: black;
  font-size: 25px;
}

.comics-new-link:hover,
.comics-new-link:focus {
  outline: none;
  text-decoration: underline;
  cursor: pointer;
}

.arrows {
  color: red;
}

.comic-container {
  cursor: pointer;
}

.comic-cover-img {
  border: 1px solid black;
  border: 1px solid black;
  box-shadow: 5px 5px grey;
}

.h2 {
  font-size: 30px;
}

.comics-list-all {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.more-comics-link {
  margin: 70px 0 20px 0;
}

@media only screen and (min-width: 615px) {
  .comic-history {
    height: 300px;
    margin-bottom: 90px;
  }
}

@media only screen and (max-width: 698px) {
  .h2 {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 765px) {
  .comic-title-link {
    width: 300px;
    margin: 0 auto;
  }
}
