.event-section {
  color: #000000;
}

.event-comic-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.event-character-list {
  padding: 0 0 35px 0;
}

.event-links {
  margin-top: 35px;
  margin-left: 20px;
}

.event-description {
  background-color: black;
  padding: 0 20px 55px 20px;
}

.event-creator-container,
.event-comic-container {
  margin-top: 35px;
}

.event-character-container {
  margin-top: -20px;
  padding-top: 20px;
  background-color: whitesmoke;
}

.event-character-name,
.eventComicsName {
  font-weight: bolder;
  cursor: pointer;
  margin-bottom: 55px;
}

.eventsTitle {
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-size: 2.7em;
  margin: 0 auto;
}

.eventsText {
  color: gray;
  text-align: left;
  max-width: 350px;
  margin-top: 45px;
}

.readMoreLink {
  color: white;
}

.more-link {
  color: black;
  font-size: 25px;
}

.back-home-from-comic,
.log-out-from-comic {
  color: white;
  letter-spacing: 1px;
}

.eventCharactersName,
.eventComicsName {
  cursor: pointer;
  margin-top: 70px;
  display: inline-block;
  width: 350px;
}

.character-cover-img:hover,
.character-cover-img:focus,
.comic-cover-img:hover,
.comic-cover-img:focus {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.character-cover-img {
  margin-bottom: 10px;
}

.character-cover-img,
.comic-cover-img,
.eventCoversPicture {
  border: 1px solid black;
  border: 1px solid black;
  box-shadow: 5px 5px grey;
  transition-duration: 1s;
}

.eventCoversPicture {
  animation: pulse 4s infinite;
}

.eventCoversPicture:hover {
  animation: none;
}

.readMoreLink {
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.see-more-link {
  font-weight: bold;
  font-size: 20px;
  color: black;
  cursor: pointer;
  margin: 70px 0 20px 0;
}

.more-link:hover,
.more-link:focus,
.new-link:hover,
.new-link:focus,
.see-more-link:hover,
.see-more-link:focus,
.back-home-from-comic:hover,
.back-home-from-comic:focus,
.log-out-from-comic:hover,
.log-out-from-comic:focus,
.event-person-name:hover,
.event-person-name:focus,
.event-comic-link:hover,
.event-comic-link:focus {
  outline: none;
  text-decoration: underline;
}

.comic-cover-img {
  margin-bottom: 10px;
}

.event-btns {
  margin-top: 25px;
}

.event-comic-link {
  color: #000000;
}

.event-container-header,
.event-character-header {
  letter-spacing: 1px;
  font-size: 30px;
}

.arrows {
  color: red;
}

.event-comic-container {
  padding-bottom: 45px;
}

.eventCoversPicture {
  margin-top: 45px;
}

@media only screen and (max-width: 400px) {
  .eventCharactersName,
  .eventComicsName {
    padding-right: 55px;
  }

  .new-event-link {
    text-align: center;
  }
}

@media only screen and (max-width: 698px) {
  .eventCoversPicture {
    width: 250px;
  }

  .eventsTitle {
    font-size: 1.7em;
  }

  .event-character-header,
  .event-container-header {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 1114px) {
  .eventsInformation,
  .eventsText,
  .readMoreLink {
    margin-left: auto;
    margin-right: auto;
  }

  .eventsText {
    margin-bottom: 45px;
  }

  .eventCoversPicture {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1114px) {
  .eventCoversPicture {
    display: inline-block;
  }

  .eventsInformation {
    display: inline-block;
    margin-left: 75px;
  }

  .readMoreLink,
  .eventsTitle {
    text-align: left;
    margin-top: 40px;
  }
}
