/* header {
    padding: 45px 15px;
} */

img + p {
    margin-top: 25px;
}

button {
    margin-bottom: 25px;
}

.already-read-section {
    background-color: #ddd;
    padding-bottom: 15px;
    min-height: 200px;
}

.done-list {
    padding-right: 40px;
    list-style-type: none;
}