header {
    padding: 45px 15px;
}

img + p {
    margin-top: 25px;
}

img {
    height: 350px;
    width: 200px;
}
button {
    margin-bottom: 25px;
}

.already-read-section {
    background-color: #ddd;
    padding-bottom: 15px;
} 

.done-list {
    padding-right: 40px;
    list-style-type: none;
}

.done-comic-title {
    color: black;
}