img {
    height: 350px;
    width: 200px;
}
  
.searched-img {
    height: 350px;
    width: 300px;
}

.character-info-section {
    background-color: #ddd;
    padding: 30px 15px;
    min-height: 200px;
}

p {
    max-width: 450px;
    margin: 0 auto;
}