.character-info-section {
  background-color: #000000;
  padding: 45px 15px;
}

.character-text {
  max-width: 450px;
  margin-bottom: 40px;
  text-align: left;
  color: lightgray;
}

.searched-img {
  border: 1px solid black;
  box-shadow: 5px 5px grey;
}

.character-name {
  text-align: center;
  color: whitesmoke;
  font-size: 2.7em;
  letter-spacing: 1px;
}

.info-new-link {
  text-align: center;
  font-weight: bold;
  color: #ddd;
}

.info-new-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.new-link {
  color: whitesmoke;
}

.character-arrows {
  color: orangered;
  font-size: 15px;
}

/* spinner animation */
.loading,
.loading:before,
.loading:after {
  border-radius: 50%;
}
.loading {
  color: whitesmoke;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loading:before,
.loading:after {
  position: absolute;
  content: '';
}
.loading:before {
  width: 5.2em;
  height: 10.2em;
  background: #000000;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loading:after {
  width: 5.2em;
  height: 10.2em;
  background: #000000;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

@media only screen and (max-width: 698px) {
  .searched-img {
    width: 250px;
  }

  .character-name {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 847px) {
  .character-text, .character-name, .info-new-link {
  margin-left: auto;
  margin-right: auto;
  }
}

@media only screen and (min-width: 847px) {
  .searched-img {
  display: inline-block;
  }

  .character-description {
  display: inline-block;
  margin-left: 50px;
  }

  .character-name, .info-new-link {
  text-align: left;
  }
}