
.comics-form {
    margin-bottom: 25px;
    padding-right: 40px;
}

ul {
    list-style-type: none;
}

#bookmark {
    margin-left: 15px;
}

.comics-list-section {
    background-color: #bbb;
    padding-bottom: 15px;
    min-height: 200px;
}

.comic-title {
    color: black;
}