img {
    height: 350px;
    width: 200px;
}
  
.searched-img {
    height: 350px;
    width: 300px;
}
  
a {
    margin-right: 10px;
    margin-left: 10px;
}

.comics-form {
    margin-bottom: 25px;
}