#bookmark {
  margin-left: 15px;
}

.comics-list-section {
  background-color: whitesmoke;
  min-height: 200px;
}

.comics-list-header {
  padding-top: 25px;
  letter-spacing: 1px;
}

.comic-title-link {
  color: #222;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Montserrat';
  cursor: pointer;
}

.comic-title-link:hover, .comic-title-link:focus {
  outline: none;
  text-decoration: underline;
}

.already-read-input, .read-later-input {
  margin-right: 7px;
  width: 120px;
  border-radius: 4px;
  color: white;
  background-color: black;
  font-size: 18.5px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.already-read-input:hover,
.already-read-input:focus, 
.read-later-input:hover,
.read-later-input:focus {
  outline: none;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.comic-history {
  cursor: pointer;
  margin-top: 70px;
  display: inline-block;
  width: 350px;
}

.comic-cover-img {
  transition-duration: 1s;
}

.comic-cover-img:hover, .comic-cover-img:focus {
  -webkit-transform: scale(1.06);
  -ms-transform: scale(1.06);
  transform: scale(1.06);
}

.already-read-label {
  margin-right: 25px;
}

.already-read-label, .read-later-label {
  color: black;
}

.radio-btns {
  margin-top: 25px;
}

.comics-new-link {
  font-weight: bolder;
  color: black;
  font-size: 25px;
}

.comics-new-link:hover, .comics-new-link:focus {
  outline:none;
  text-decoration: underline;
  cursor: pointer;
}

.arrows {
  color: red;
}

.comic-container {
  cursor: pointer;
}

.comic-cover-img {
  border: 1px solid black;
  border: 1px solid black;
  box-shadow: 5px 5px grey;
}

.h2 {
  font-size: 30px;
}

.comics-list-all {
  margin-left: -25px;
}

/* spinner animation */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #000000;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: whitesmoke;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: whitesmoke;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}

@media only screen and (max-width: 765px) {
  .comics-form {
    padding-right: 40px;
  }
  
  .more-comics-link {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

@media only screen and (min-width: 765px) {
  .comic-history {
    margin-bottom: 80px;
    width: 350px;
  }

  .more-comics-link {
    margin-bottom: 40px;
  }

  .comic-title-link {
    width: 300px;
    margin: 0 auto;
  }
}