.dashboard-username {
    font-weight: bold;
    margin: 0 auto;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.dashboard-protected-data {
    margin-top: -5px;
}

.protected-data-header, .title {
    font-weight: bolder;
}

.read-history {
    margin-bottom: 45px;
    cursor: pointer;
}

.protected-data-header {
    margin-bottom: 35px;
}

.remove-comic-btn {
    border-radius: 40px;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    position: relative;
    bottom: 320px;
    left: 80px;
    cursor: pointer;
    z-index: 1;
}

.x-icon {
    font-weight: bold;
    margin-left: -2px;
}

.notes-btn {
    font-weight: bold;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    cursor: pointer;
}