.dashboard-username {
    font-weight: bold;
    margin: 0 auto;
    font-size: 3em;
    margin: 100px 0px 150px 0px;
    font-family: 'Montserrat';
    letter-spacing: .5px;
}

.dashboard {
    padding-bottom: 50px;
}

.dashboard-protected-data {
    margin-top: -5px;
}

.protected-data-header {
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: -35px;
    font-size: 2em;
}

.remove-comic-btn {
    cursor: pointer;
    margin-bottom: 15px;
    width: 170px;
    height: 30px;
    border-radius: 4px;
    color: white;
    background-color: black;
    font-size: 0.95em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    margin-top: 10px;
}

.title-link {
    font-size: 1em;
    color: #000000;
    font-family: 'Montserrat';
    cursor: pointer;
}

.title-link:hover, .title-link:focus {
    outline: none;
    text-decoration: underline;
}

.remove-comic-btn:hover, .remove-comic-btn:focus {
    outline: none;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.cover-image {
    transition-duration: 1s;
}

.cover-image:hover, .cover-image:focus {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}
.log-out {
    cursor: pointer;
}

.log-out:hover, .log-out:focus {
    outline: none;
    text-decoration: underline;
}

.read-history {
    cursor: pointer;
    margin-top: 100px;
    display: inline-block;
    width: 250px;
}

.item-read {
    color: darkslategray;
    text-transform: uppercase;
    position: relative;
    top: 10px;
}

.cover-image {
    border: 1px solid black;
    box-shadow: 5px 5px grey;
}

hr.style10 {
    height: 6px;
    color: #000000;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

@media only screen and (min-width: 515px) {
    .comic-text{
        width: 250px;
    }
}

@media only screen and (min-width: 765px) {
    .read-history {
        float: left;
        padding-left: 120px;
        margin-bottom: 90px;
    }

    .comic-text {
        width: 175px;
        height: 100px;
    }
}
