.events-list-section {
    background-color: #222;
    padding-bottom: 35px;
    min-height: 200px;
}

.events-list-header {
    padding-top: 25px;
}

.events-container {
    padding-right: 40px;
}

.event-name {
    margin-bottom: 75px;
    font-weight: bolder;
    cursor: pointer;
}

.event-cover-img {
    margin-bottom: 10px;
}

.event-header {
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 30px;    
}

.event-history {
    cursor: pointer;
    display: inline-block;
    width: 350px;
    margin-top: 70px;
}

.event-cover-img:hover, .event-cover-img:focus {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}

.event-cover-img {
    border: 1px solid black;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    transition-duration: 1s;
}

.event-title-link {
    color: gainsboro;
    border: none;
    font-size: 1em;
    font-family: 'Montserrat';
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1px;
}

.event-title-link:hover, .event-title-link:focus {
    outline: none;
    text-decoration: underline;
}

.events-list-all {
    margin-right: 45px;
}

@media only screen and (max-width: 400px) {
    .event-history {
        padding-right: 40px;
    }   
}

@media only screen and (min-width: 765px) {
    .event-history {
        margin-bottom: 80px;
        width: 350px;
    }

    .event-title {
        width: 200px;
    }

    .event-title-button {
        width: 300px;
        margin: 0 auto;
        margin-top: 25px;
    }
}