.events-list-section {
    background-color: #222;
    padding-bottom: 35px;
    min-height: 200px;
}

.events-list-header {
    padding-top: 25px;
}

.events-container {
    padding-right: 40px;
}

.event-name {
    margin-bottom: 75px;
    font-weight: bolder;
    cursor: pointer;
}

.event-title {
    text-align: center;
    letter-spacing: 1px;
    color: gainsboro;
    margin: 0 auto;
    margin-top: 10px;
}

.event-title:hover, .event-title:focus {
    text-decoration: underline;
}

.event-cover-img {
    margin-bottom: 10px;
}

.event-header {
    color: whitesmoke;
    letter-spacing: 1px;
}

.event-history {
    cursor: pointer;
    display: inline-block;
    width: 350px;
    margin-top: 70px;
}

.event-cover-img:hover, .event-cover-img:focus {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
}

.event-cover-img {
    border: 1px solid black;
    border: 1px solid black;
    box-shadow: 5px 5px grey;
    transition-duration: 1s;
}

@media only screen and (max-width: 400px) {
    .event-history {
        padding-right: 40px;
    }   
}

@media only screen and (min-width: 765px) {
    .event-history {
        margin-bottom: 80px;
        width: 350px;
    }

    .event-title {
        width: 200px;
    }
}