ul {
    list-style-type: none;
}

.events-list-section {
    background-color: #ddd;
    padding-bottom: 15px;
    min-height: 200px;
}

.events-container {
    padding-right: 40px;
}

.event-name {
    margin-bottom: 75px;
    font-weight: bolder;
    cursor: pointer;
}

.event-title {
    text-align: center;
}

.event-cover-img {
    margin-bottom: 10px;
}