header {
    padding: 25px 15px;
}
  
.info {
    background-color: #bbb;
    padding: 0px 20px 45px 20px;
}

.info:nth-child(even) {
    background-color: #ddd;
} 
  
.info-section-text {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}
  
p + p {
    margin-top: 15px;
}

.title {
    background-color: white;
}