.search-input, .notes-title {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
}
  
textarea {
    width: 100%;
    max-width: 250px;
}

header {
    padding: 45px 15px;
}

.new-notes-section {
    background-color: #bbb;
    padding: 30px 15px;
    min-height: 200px;
}