.search-input, .notes-title {
    width: 100%;
    max-width: 250px;
    margin-bottom: 10px;
}
  
textarea {
    width: 100%;
    max-width: 250px;
}

.new-notes-section {
    background-color: #bbb;
}