/* header {
    padding: 45px 15px;
}
   */
.notes-section {
    background-color: #bbb;
    padding-bottom: 15px;
    min-height: 200px;
}

.notes-list {
    padding-right: 40px;
    list-style-type: none;
    max-width: 450px;
    margin: 0 auto;
}
