.not-done-list {
    list-style-type: none;
    padding-right: 40px;
}

img {
    height: 350px;
    width: 200px;
}

.read-later-section {
    background-color: #bbb;
    padding-bottom: 15px;
    min-height: 200px;
}