.not-done-list {
    list-style-type: none;
    padding-right: 40px;
}

.read-later-section {
    background-color: #bbb;
    padding-bottom: 15px;
    min-height: 200px;
}

.not-done-title {
    color: black;
}