.log-out {
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    font-weight: bold;
    color: whitesmoke;
}

.back-home {
    float: left;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 15px;
    color: whitesmoke;
}

.back-home:hover, .back-home:focus {
    outline: none;
    text-decoration: underline;
}

.dr-strange {
    width: 300px;
    margin-top: 75px;
}