.search-form-header {
    padding-top: 5px;
    padding-bottom: 55px;
    background-color: black;
}

.search-form {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    border-bottom: 1px solid black;
}

.search-input[type="text"]::placeholder {
    color: white;
}

.search-input[type="text"] {
    font-size: 1.5em;
}

.search-btn {
    margin-bottom: 25px;
    width: 60px;
    font-size: 2em;
    background-color: black;
    color: white;
    cursor: pointer;
    border-style: none;
}

h1 {
    font-size: 2.5em;
    letter-spacing: 1.5px;
    margin-top: 80px;
}

.marvel-logo {
    width: 300px;
}

.header-text {
    color: gainsboro;
}

.search-input {
    height: 35px;
    border-style: none;
    background-color: black;
    border-bottom: 1px solid white;
    color: white;
}

.search-input:focus {
    outline: none;
    border-bottom: 2px solid #3399FF;
}

@media only screen and (max-width: 701px) {
    .search-form-header {
       padding-top: 45px;
   }

   .search-input {
       width: 250px;
   }
}

@media only screen and (min-width: 699px) {
    .header-text {
        margin-left: 20px;
        display: inline-block;
    }

    .search-input {
        width: 600px;
    }
}