.top-nav {
   margin: 0;
}
 
.nav-list-item {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  text-decoration: none;
} 

.sign-up:link, .log-in:link {
  text-decoration: none;
  color: #aaa;
}

.sign-up, .log-in {
  color: gainsboro;
}

.sign-up:focus,
.sign-up:hover,
.log-in:focus, 
.log-in:hover {
  text-decoration: underline;
}