.top-nav {
   margin: 0;
}
 
.nav-list-item {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  text-decoration: none;
} 

.demo:link, .sign-up:link, .log-in:link {
  text-decoration: none;
  color: #aaa;
}

.demo, .sign-up, .log-in {
  color: gainsboro;
}

.demo:hover, .sign-up:hover, .log-in:hover {
  text-decoration: underline;
}